<div class="container-fluid">
    <div class="row align-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h1 class="margin-top">
                Création de sondage
            </h1>
        </div>
        <div class="col-4 text-right">
            <a href="" class="margin-right" routerLink=".." routerLinkActive="active">
                Retour
            </a>
        </div>
    </div>
    <form action="send_survey_creation.php" method="post">
        <div class="row big-margin-top">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-12">
                        <label for="input_survey_name" class="small-margin-right">Nom du sondage :</label>
                        <input type="text" name="survey_name" id="input_survey_name" oninput="getname()">
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-12">
                        <div>
                            <label for="input_survey_description">Description du sondage :</label>
                        </div>
                        <textarea class="textarea" name="survey_description" id="input_survey_description" oninput="getdesc()"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="input_survey_name" class="small-margin-right">Choix :</label>
                        <input type="text" id="input_choice" class="small-margin-right">
                        <a id="add" class="btn btn-primary" onClick="ajouter()">
                            Ajouter
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="all_choices" name="all_choices">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <br>
                        <button id="send" class="btn btn-primary" type="submit">
                            ENVOYER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
