<div class="container-fluid">
    <div class="row align-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h1 class="margin-top">
                Création de sondage
            </h1>
        </div>
        <div class="col-4 text-right">
            <a href="" class="margin-right" routerLink=".." routerLinkActive="active">
                Retour
            </a>
        </div>
    </div>
    <div class="row big-margin-top">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <label for="input_survey_name" class="small-margin-right">Nom du sondage :</label>
                    <input type="text" id="input_survey_name" [(ngModel)]="survey.name">
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-12">
                    <div>
                        <label for="input_survey_description">Description du sondage :</label>
                    </div>
                    <textarea class="textarea" name="survey_description" id="input_survey_description" [(ngModel)]="survey.description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="input_survey_name" class="small-margin-right">Choix :</label>
                    <input type="text" id="input_choice" class="small-margin-right" [(ngModel)]="choice">
                    <a id="add" class="btn btn-primary" (click)="add($event)">
                        Ajouter
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="all_choices" name="all_choices">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <br>
                    <button id="send" class="btn btn-primary" type="submit" (click)="sendSurvey()">
                        ENVOYER
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
