<div class="container-fluid">
    <div class="row align-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h1 class="margin-top">
                Utilisateur
            </h1>
        </div>
        <div class="col-4 text-right">
            <a href="" class="margin-right" (click)="logOut()">
                Déconnexion
            </a>
        </div>
    </div>
    <div class="portfolio-list">
        <div class="portfolio portfolio-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>
                        Voter pour un sondage
                    </h2>
                    <p class="description margin-top">
                        En appuyant sur ce boutton, vous pouvez voter pour un sondage
                        créé par un autre admin, vous ne pouvez voter qu'une seul fois pour un
                        sondage donné, quand celui ci sera cloturé nous vous tiendront au
                        courant des résultats obtenus.
                    </p>
                    <a href="" routerLink="/survey-list" routerLinkActive="active">
                        <button class="btn btn-primary margin-top">
                                Voter
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio portfolio-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>
                        Résultat direct avec fichier JSON
                    </h2>
                    <p class="description margin-top">
                        En appuyant sur ce bouton, vous pouvez avec l'aide d'un fichier json,
                        qui respecte la forme indiqué obtenir les résultats directement de
                        votre sondage, vous pouvez ici aussi choisir les méthodes d'aggrégations
                        que vous voulez qui sont présentes.
                    </p>
                    <a href="" routerLink="/survey-json" routerLinkActive="active">
                        <button class="btn btn-primary margin-top">
                            Sondage JSON
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margin-top">

</div>
