<div class="portfolio portfolio-survey">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-6">
                <h2>Name : {{survey.name}}</h2>
                <p class="description">Description : {{survey.description}}</p>
            </div>
            <div *ngIf="survey.isActive == false">
                <button (click)="result()" class="btn btn-primary">Resultat</button>
            </div>
            <div *ngIf="survey.isActive == true">
                <button (click)="closeSurvey()" class="btn btn-warning">Clore le sondage</button>
            </div>
        </div>
    </div>
</div>
