<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Name : {{survey.name}}</h2>
            <p class="description">Description : {{survey.description}}</p>
        </div>
        <div *ngIf="survey.isActive == true">
            <button (click)="vote()" class="btn btn-primary">Voter</button>
        </div>
        <div *ngIf="survey.isActive == false">
            <button (click)="result()" class="btn btn-info">Résultat</button>
        </div>
    </div>
</div>
