<div class="container-fluid">
    <div class="row align-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <h1 class="margin-top">
                Admin
            </h1>
        </div>
        <div class="col-4 text-right">
            <a href="" class="margin-right">
                Retour
            </a>
        </div>
    </div>
    <div class="portfolio-list">
        <div class="portfolio portfolio-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>
                        Création de Sondage
                    </h2>
                    <p class="description margin-top">
                        En appuyant sur ce boutton, vous pouvez créer un sondage et le
                        personnalisez, ensuite les utilisateurs et les admins de notre
                        site pourront vous donner des réponses, quand vous l'aurez décidé
                        vous pourrez le cloturer et recevoir les résultats en fonction des
                        différentes méthodes d'aggrégations que nous proposons.
                    </p>
                    <a href="">
                        <button class="btn btn-primary margin-top">
                            Créer sondage
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio portfolio-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>
                        Gestion de mes sondages
                    </h2>
                    <p class="description margin-top">
                        En appuyant sur ce boutton, vous pouvez changer et cloturer
                        les sondages que vous avez créé.
                    </p>
                    <a href="">
                        <button class="btn btn-primary margin-top">
                            Gérer mes sondages
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
