<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="margin-top">
                Inscription
            </h1>
        </div>
    </div>
    <div class="portfolio portfolio-block">
        <form method="POST" action="create_account.php">
            <div class="row">
                <div class="col-12 text-center">
                    <div>
                        <label for="input_username" class="block">Nom d'utilisateur :</label>
                        <input type="text" class="input-perso" name="username" id="input_username">
                    </div>
                    <div class="margin-top">
                        <label for="input_email" class="block">Email : </label>
                        <input type="email" class="input-perso" name="mail" id="input_email">
                    </div>
                    <div class="margin-top">
                        <label for="input_password" class="block">Mot de passe :</label>
                        <input type="password" class="input-perso" name="password" id="input_password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-size margin-top">
                        INSCRIPTION
                    </button>
                    <div class="alternative">
                        <a href="" class="block" (click)="backToLogin()">Connexion</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
