<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="margin-top">
                Inscription
            </h1>
        </div>
    </div>
    <div class="portfolio portfolio-block">
        <form [formGroup]="form" (ngSubmit) = "accountCreation()">
            <div class="row">
                <div class="col-12 text-center">
                    <div>
                        <label for="input_username" class="block">Nom d'utilisateur :</label>
                        <input type="text" class="input-perso" formControlName="username" id="input_username" [(ngModel)]="account.login">
                    </div>
                    <div class="margin-top">
                        <label for="input_email" class="block">Email : </label>
                        <input type="email" class="input-perso" formControlName="email" id="input_email" [(ngModel)]="account.email">
                    </div>
                    <div class="margin-top">
                        <label for="input_password" class="block">Mot de passe :</label>
                        <input type="password" class="input-perso" formControlName="password" id="input_password" [(ngModel)]="account.password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-size margin-top" [disabled]="!form.valid">
                        INSCRIPTION
                    </button>
                    <div class="alternative">
                        <a href="" class="block">Connexion</a>
                    </div>
                    <p *ngIf="!success" class="error margin-top">
                        Un compte possèdant deja ce mail, ce login ou ce mot de passe existe déjà
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
