<div class="container-fluid">
    <div class="row align-center margin-bottom">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <div *ngIf="surveyResult == null">
                <h1 class="margin-top">
                    Liste des sondages
                </h1>
            </div>
            <div *ngIf="surveyResult != null">
                <h1 class="margin-top">
                    {{surveyName}}
                </h1>
            </div>
        </div>
        <div class="col-4 text-right">
            <a href="" class="margin-right">
                Retour
            </a>
        </div>
    </div>
    <div *ngIf="surveyResult == null">
        <ng-container *ngIf="!isCreated">
            {{ getSurveyList() }}
        </ng-container>
        <div *ngIf="isCreated">
            <div *ngFor="let survey of surveyList">
                <app-survey [survey] = "survey" (notify)="onNotifyClicked($event)" (surveyName)="onSurveyNameClicked($event)"></app-survey>
            </div>
        </div>
    </div>
    <div *ngIf="surveyResult != null">
        <div *ngFor="let survey of surveyResult">
            <app-survey-result-displayer [surveyResult]="survey"></app-survey-result-displayer>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center margin-top">
                    <button class="btn btn-primary" (click)="anotherSurveyResult()">
                        Another Survey ?
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margin-top">

</div>

